html {
  /* Sin congiguracion el rem vale: */
  /* 1rem = 16px */

  /* Para que 1 rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Para no tener espacios en el footer y header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background: linear-gradient(#63625f, #d3cbcb);
  color: #f0f1f4;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.header {
  background-color: #1d1a20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Goldman", sans-serif;
}

.header__logo {
  padding: 1rem;
  margin-left: 0.5rem;
  text-decoration: none; /* quita el subrayado si no lo querés */

  font-size: 3rem;
  font-weight: bold;
}
.header__logo a {
  text-decoration: none;
  color: #f7bb2b;
}

.header__logo:hover {
  color: #956e11;
}

.header__nav {
  padding: 0.5rem;
  margin-right: 1rem;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header__nav li {
  font-size: 3rem;
  font-weight: bold;
}

.header__nav a {
  color: #f7bb2b;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.header__nav a:hover {
  color: #9b7213;
}

.footer {
  background-color: #1d1a20;

  padding: 1rem;
  color: #f7bb2b;
  margin: 1rem 0 0 0;
  /* hago flexibles al p y la nav */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Goldman", sans-serif;
}

.footer nav ul {
  list-style: none;

  /* hago flexibles a los li de la lista */
  display: flex;
  justify-content: left;
  gap: 2rem; /* 20px */
  margin-top: auto;
}

.footer nav ul a {
  font-size: 2rem;
  text-decoration: none;
  color: #f7bb2b;
}
.footer nav ul a:hover {
  font-size: 2rem;
  text-decoration: none;
  color: #9b7213;
}

/* HOME */

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  flex: 1;
  margin: 3rem auto 0 auto; /* solo margen arriba */
}

main h1 {
  font-size: 5rem;
  margin: 2rem 0;
}

.titulo-home {
  background: linear-gradient(#f7bb2b, #33001b);
  padding: 10px 25px;
  font-size: 5rem;
  border-radius: 20px;
  display: inline-block;
  color: #fff;
  width: 100%;
}

.productos-home {
  width: 100%;
}

.productos-home h3 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  color: #fefdff;
  border-radius: 1rem;
  background-color: #33473ef0;
}

.productos-home h2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  color: #fefdff;
}

.contenedor-juegos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: row;
  gap: 6rem;
  padding: 5rem;
}

.juego-producto {
  background: #1e1e1e;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.4);
  width: 22rem;
}

.juego-producto:hover {
  transform: scale(1.05);
  transition: transform 0.9s;
}

.juego-producto h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.juego-producto img {
  width: 20rem;
  height: 27rem;
  padding: 0.1rem;
}

.juego-producto p {
  color: #bbb;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.boton-Producto {
  background: #c7931a;;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.boton-Producto:hover {
  background: #681f0d;
  color: #f7bb2b;
}

/*CARRITO */

.contenedor-carrito {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: row;
  gap: 6rem;
  padding: 5rem;
}

.carrito-producto {
  background: #1e1e1e;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.4);
  width: 22rem;
}
.mensaje-carrito-vacio {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}
.acciones-carrito {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 2rem;
  padding: 10px;
}

.compra-total{
  background: #000000;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* Contenedor de cada producto */
.item-carrito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f3b4d;
  border-radius: 12px;
  padding: 15px;
  margin: 15px auto;
  width: 85%;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* Imagen del producto */
.item-carrito img {
  width: 120px;
  border-radius: 8px;
}

.item-carrito h3 {
  margin-right: 10px;  
  font-size: 20px;
  
}

.item-carrito p {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}


/* Contenedor de texto */
.info-carrito {
  flex-grow: 1;
  margin-left: 20px;
  color: #fff;
}

/* Título del juego */
.info-carrito h3 {
  margin-bottom: 10px;
  font-size: 10px;
  margin-right: 40px;
}

/* Cantidad y precio */
.info-carrito p {
  margin: 5px 0;
  font-size: 16px;
  
}

/* Botón eliminar */
.item-carrito button {
  background-color: #e6a732;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.item-carrito button:hover {
  background-color: #d09d1d;
}

/* CONTACTO */

.formulario-contacto {
  background: #b98525;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.4);
  width: 60rem;
  margin-bottom: 3rem;
}

.formulario-contacto h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Goldman", sans-serif;
  color: #fefdff;
}

.formulario-contacto label {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: "Goldman", sans-serif;
  color: #fff5f5bf;
}

.mensaje {
  font-family: "Goldman", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
}

.mensaje textarea {
  width: 80%;
  height: auto;
}

.boton-enviar {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #f4a261;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 10rem;
  margin-top: 1rem;
}
.boton-enviar:hover {
  background-color: #e76f51;
  color: #fff;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
  }

  .header__nav ul {
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.1rem;
  }

  .header__nav li {
    font-size: 2rem;
  }

  .titulo-home {
    background: linear-gradient(#ff004c, #33001b);
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    color: #fff;
    font-size: 3rem; /* tamaño de fuente más pequeño */
    width: 80%;
  }
  .footer {
    flex-direction: row;
    align-items: flex-start;
    height: 8rem;
  }

  .footer nav ul {
    flex-direction: row;
    flex: wrap;
    gap: 1rem;
  }

  main {
    width: 95%;
    margin: 2rem auto 0 auto;
  }

  .contenedor-juegos {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    gap: 2rem;
    padding: 2rem;
  }

  .juego-producto {
    width: 70%; /* ocupa casi todo el ancho */
  }

  .juego-producto img {
    width: 100%;
    height: auto;
  }

  .juego-producto h3 {
    font-size: 2rem;
    width: auto;
  }
  .formulario-contacto {
    width: 100%;
  }

  .formulario-contacto input {
    width: 9.5rem;
  }
}
